@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="Home">
<div class=" pt-5 text-light">
    <h2 class="display-4">Welcome To</h2>
    <p>Student Information Management System </p>
</div>

</body>