@page
@model Student_Manager.Pages.Stud_CourseModel
@{
    ViewData["Title"] = "Student and their courses";
}
<body class="stud-course">
    <h1 class="text-light">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <form class="" method="post">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-light">Enter your name before get the informations</label>
                    <input type="text" name="Name" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary mb-3">Click here to get student and course informations</button>
            </form>
        </div>
    </div>
</body>